apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
stringData:
  repository.credentials: |
    - url: https://ghcr.io
      username: amitactive2008
      password: <GHCR_PERSONAL_ACCESS_TOKEN>
      type: helm
      oci: true
      name: ghcr
